.results {
  display: none;
  border: 5px solid black;
}

#javaList {
  display: none;
}

#rubyList {
  display: none;
}

#cssList {
  display: none;
}

#results {
  color: red;
  font-family: monospace;
  font-weight: bold;
}

#inputName {
  color: red;
  font-family: monospace;
  font-weight: bold;
}

#for-bottom {
  margin-bottom: 100px;
}

body {
  background-color: #96d6e8;
}
