img {
  float: right;
  width: 20%;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.results {
  display: none;
  border: 5px solid black;
  padding-left: 20px;
}

#javaList {
  display: none;
  overflow: auto;
}

#rubyList {
  display: none;
  overflow: auto;
}

#cssList {
  display: none;
  overflow: auto;
}

#results {
  color: red;
  font-family: monospace;
  font-weight: bold;
}

#inputName {
  color: green;
  font-family: monospace;
  font-weight: bold;
}

#for-bottom {
  margin-bottom: 100px;
}

body {
  background-color: #96d6e8;
}
